body {
    text-align: center;
}

.nav-bar-div {
    padding: 0.5em 1em 0.5em 1em;
    font-size: larger;
}

p {
    font-size: large;
}

.page-div {
    padding: 1em 1em 1em 1em;
    display: none;
}

img {
    max-width: 800px;
    padding-top: 1em;
}

a {
    padding: 1em 1em 1em 1em;
}

