body {
    text-align: center;
}

.nav-bar-div, a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: larger;
    background-color: black;
    color: white;
}

.nav-bar-div {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 10px;
    border-radius: 5%;
}

p {
    font-size: large;
}

.page-div {
    padding: 1em 1em 1em 1em;
    display: none;
}

img {
    width: 100%;
    max-width: 800px;
    height: auto;
    padding: auto;
    border-radius: 15%;
}


