html {
    text-align: center;
}

img {
    width: 100%;
    max-width: 800px;
    border-radius: 15%;
}

#content {
    width: 100%;
    max-width: 800px;
    font-size: large;
    display: inline-block;
}

.nav-bar-div, a {
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: larger;
    background-color: black;
    color: white;
}

.nav-bar-div {
    padding: 0.5em 0.5em 0.5em 0.5em;
    margin: 10px;
    display: inline-block;
    max-width: 800px;
    width: 100%;
}
