body {
    text-align: center;
}

h1 {
    padding-top: 1.5em;
}

.book-tile {
    padding: 1em 1em 1em 1em;
    margin: .5em .5em .5em .5em;
    border-style: inset;
}

#book-cards {
    display: flex;
}

#add-book-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, select, label {
    padding-bottom: .25em;
    margin-bottom: .25em;
}
