body {
    text-align: center;
}

h1 {
    padding-top: 2em;
}

#Game-Board-Section {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 15%;
    margin-right: 15%;
}

.game-square {
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 25px;
    height: 1.5em;
}

div[data="data-square-1"], 
div[data="data-square-2"], 
div[data="data-square-3"], 
div[data="data-square-4"], 
div[data="data-square-5"], 
div[data="data-square-6"]{
    border-bottom-style: solid;
}

div[data="data-square-2"], 
div[data="data-square-5"], 
div[data="data-square-8"] {
    border-right-style: solid;
    border-left-style: solid;
}
